input{
    width: 220px;
    transform: translateX(-50px);
    border: none;
    margin-top: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid black;
    background-color: gray;
}
label{
    color:black;
    position: relative;
    left: -130px;
}