.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pagination img {
  width: 40px;
  height: 40px;
}
