/* .mainDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container{
    display: flex;
} */
button{
    width: 100px;
    height: 40px;
    background-color: green;
    margin-left: 10px;
}   
.main{
    display: flex;
    justify-content: center;   
    margin-top: 100px; 
}
.forma{
    width: 400px;
    height: 400px;
    text-align: center;
    background-color: rgb(165, 161, 161);
    padding-top: 30px;
}
input{
    margin-bottom: 30px;
    width: 250px;
    height: 40px;
}